---
interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<section class="mt-16 py-16 bg-gray-100 dark:bg-gray-900">
    <div class="container mx-auto px-4">
        <div class="max-w-4xl mx-auto">
            <div class="text-center">
                <h2 class="text-3xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-blue-600 to-purple-600 mb-4 py-2">
                    {title}
                </h2>
                <p class="text-xl text-gray-600 dark:text-gray-300 mb-8">
                    {description}
                </p>
                <div class="flex justify-center">
                    <div class="relative w-full sm:w-auto group inline-block max-w-xs">
                        <div class="absolute inset-0 bg-gradient-to-r from-blue-600 to-purple-600 rounded-md animate-subtle-pulse"></div>
                        <a
                            href="/arajanlat"
                            class="relative w-full sm:w-auto inline-flex justify-center items-center px-8 py-3 text-base font-medium rounded-md text-white bg-gradient-to-r from-blue-600 to-purple-600 hover:from-blue-700 hover:to-purple-700 hover:scale-105 transition-all duration-200"
                        >
                            Ingyenes ajánlat kérése
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
